<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login to library application </title>
</head>
<body>
<div th:if="${param.error}">
    <font color="red" size="6">Invalid username and password.</font>
</div>
<div th:if="${param.logout}">
    <font color="green" size="6">
    You have been logged out.</font>
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<br>
<a href="/">go home</a>
</body>
</html>
