<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating new element</title>
</head>
<body>
<form method="GET" action="/books/save" target="_blank">
    New book title: <input name="title" type="text"><span><input type="submit" value="Create book">
</form>
<br>
<form method="GET" action="/readers/save" target="_blank">
    New reader name: <input name="name" type="text"><span><input type="submit" value="Create reader">
</form>
<br>
<form method="POST" action="/books/id" target="_blank">
    Id: <input name="id" type="text"><span><input type="submit" value="send id - post method">
</form>
<br>
<a href="/">go back</a>
</body>
</html>
