<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Creating new element</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form method="GET" action="/books/save" target="_blank">
    New book title: <input name="title" type="text"><span><input type="submit" value="Create book">
</form>
<br>
<form method="POST" action="/readers/save" target="_blank">
    New reader name: <input name="name" type="text">
    password: <input name="password" type="password">
    role (ADMIN, USER): <input name="role" type="text">
    status (ACTIVE, BANNED): <input name="status" type="text">
    <span><input type="submit" value="Create reader">
</form>
<br>
<form method="GET" action="/requestHeaders">
    <input type="submit" value="show request headers">
</form>
<br>
<a href="/">go back</a>
</body>
</html>
